= render "modals/purchase_completed"
%h1 Покупка
= form_for @resource, url: purchases_path, html: {class:"ui form"}, remote: true  do |f|
  .field
    %label Цена
    %span
      = f.text_field :price

  .field
    %label Описание
    %span
      = f.text_area :description

  .field.PromoField{style: "display: none"}
    %label Промокод
    .ui.action.input
      .ui.icon.input
        %input#PromoCode
        %i.icon
      %a.ui.button.PromoActivateButton
        Активировать
    .ui.pointing.red.basic.label.PromoError{style: "display: none"}
      %span
  .ui.green.segment.SummaryPrice
    = "Итогая стоимость:"
    %span

  = f.hidden_field :promo_id, id: 'promo_id'
  = f.hidden_field :ip, value: get_client_ip
  = f.submit(class: 'ui submit green button', value: 'Оплатить')
