= render "modals/promo_generate_completed"
%h1 Генерация промокодов

= form_for @resource, url: admin_promos_path, html: {class:"ui blurring form"}, remote: true do |f|
  %field.inline
    .field
      %label Тип скидки
      %span
        .ui.selection.dropdown.typeSaleDropdown
          .default.text Выберите тип скидки
          = f.hidden_field :type_sale, class: 'fixed'
          %i.dropdown.icon
          .menu
            - @types.each do |key|
              .item{"data-value" => key }= t("type_sales.#{key}")

  .field
    %label Скидка
    %span
      = f.text_field :sale

  .field
    %label Лимит использований
    %span
      = f.text_field :limit

  .field
    %label Количество промокодов
    %span
      %input.Count{name: 'count'}

  .field
    %label Маска промокода
    %span
      %input{name: 'mask'}

  = f.submit(class: 'ui submit green button', value: 'Генерировать')

.ui.dimmer.transition.hidden
  .ui.text.loader
    Генерация
